# Python packaging
*.egg-info/
dist/
build/

# Environment
.venv/
.env

# Python cache
__pycache__/
*.py[cod]

# Test / tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# IDE
.vscode/

# Local storage
storage/*

# OS
.DS_Store
Thumbs.db